<h1>String Interpolation</h1>
<p>
{{ stringInterpolation}} | {{numberInterpolation}}
</p>

<h1>Property Binding</h1>
<input type="text" [value]="stringInterpolation" >
<p [ngClass]="{redBorder: onTest()}">Styled?</p>
<p [ngStyle]="{color: 'blue'}">Styled?</p>

<h1>Custom Binding</h1>
Número: <app-property-binding [result]="10"></app-property-binding>

<h1>Event Binding</h1>
<app-event-binding (clicked)="onClicked($event)"></app-event-binding>

<h1>Life cycle</h1>
<app-lifecycle *ngIf="!delete" [bindable]="boundValue">
    <p>{{test}}</p>
</app-lifecycle>
<button (click)="delete = true">Click to delete Life Cycle</button>
<button (click)="test= 'Changed'">Click to change</button>
<button (click)="boundValue= 2000">Click to change bind</button>